<%
const count = pager.getPageCount();
const links = pager.getLinks();

if (count > 1) {
%>
<nav>
    <ul class="pagination">
        <% if (links[pager.LINK_FIRST]) { %>
        <li class="page-item"><a class="page-link" href="<%- links[pager.LINK_FIRST] %>"><span>&laquo;</span></a></li>
        <% } %>
        <% if (links[pager.LINK_PREV]) { %>
        <li class="page-item"><a class="page-link" href="<%- links[pager.LINK_PREV] %>"><span>&lsaquo;</span></a></li>
        <% } %>
        <% for (let i = 0; i < count; ++i) { %>
        <% if (i === pager.page) { %>
        <li class="page-item active"><a class="page-link" href="#"><%- i + 1 %> <span class="sr-only">(current)</span></a></li>
        <% } else { %>
        <li class="page-item"><a class="page-link" href="<%- pager.createUrl(i) %>"><%- i + 1 %></a></li>
        <% }} %>
        <% if (links[pager.LINK_NEXT]) { %>
        <li class="page-item"><a class="page-link" href="<%- links[pager.LINK_NEXT] %>"><span>&rsaquo;</span></a></li>
        <% } %>
        <% if (links[pager.LINK_LAST]) { %>
        <li class="page-item"><a class="page-link" href="<%- links[pager.LINK_LAST] %>"><span>&raquo;</span></a></li>
        <% } %>
    </ul>
</nav>
<% } %>