<%
layout(_view.get('_layout/content'));

script('front/script/Front.js');
script('front/script/Page.js');
script('front/script/Search.js');
script('front/script/Service.js');
script('front/script/Account.js');
script('front/script/Form.js');
script('front/script/Request.js');
script('front/script/RequestForm.js');
script('front/script/Comment.js');
script('front/script/DocUploader.js');
script('front/script/module.js');

const dataUrl = _url('/api/base/data/');
const fileUrl = _url('/api/base/file/');
const metaUrl = _url('/api/base/meta/');
%>

<%- include(_view.get('_part/signboard')) %>

<div class="front"
     data-guest="<%- _controller.user.isGuest() %>"
     data-list="<%- dataUrl + 'list' %>"
     data-read="<%- dataUrl + 'read' %>"
     data-defaults="<%- dataUrl + 'defaults' %>"
     data-create="<%- dataUrl + 'create' %>"
     data-update="<%- dataUrl + 'update' %>"
     data-transit="<%- dataUrl + 'transit' %>"
     data-delete="<%- dataUrl + 'delete' %>"
     data-upload="<%- fileUrl + 'upload' %>"
     data-meta-class="<%- metaUrl + 'class' %>">

    <%- include('./_main') %>
    <%- include('./_search') %>
    <%- include('./_service') %>
    <%- include('./_requestForm') %>
    <%- include('./_account') %>
    <%- include('./_request') %>
    <%- include('./_comment') %>

</div>